body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(bg-intro-desktop.png);
    background-size: cover;
    background-position: center;
    background-color: hsl(0, 100%, 74%);
    align-items: center;
	font-family: 'Poppins', sans-serif;
}

#reg{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 100px 0;
}

.container{
	align-items: center;
	justify-content: space-between;
	text-align: center;
	padding: 0 30px;
	max-width: 1440px;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	
}
.leftcolumn{
	flex: 1;
	margin-bottom: 50px;
}

h2{
    font-size: 45px;
	font-weight: 700;
	color: white;
	margin-bottom: 10px;
	text-align: left;
}

p{
    font-size: 16px;
	color: white;
	text-align: left;
	word-spacing: 2px;
	line-height: 25px;
	letter-spacing: 2px;

}

.rightcolumn{
	flex: 1;
}

.rightcolumn .info {
	background-color: hsl(248, 32%, 49%);
	color: white;
	height: 5vh;
	font-size: 16px; 
	padding: 10px 80px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	text-align: center;
	border-radius: 15px;
	box-shadow: 0 5px hsla(249, 10%, 26%, 0.404);
}
.rightcolumn .info p{
	margin-top: -5px;
	padding-top: 10px;
	justify-content: center;
	align-items: center;
}
.rightcolumn .info span{
	font-weight: 700;
}
.rightcolumn .form-container{
	background-color: white;
	width: 600px;
	height: 70vh;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 5px hsla(249, 10%, 26%, 0.404);
}
.inputbox{
	margin-top: 15px;
    position: relative;
}
.rightcolumn .inputbox input,
.rightcolumn button[type = submit]{
	width: 100%;
	height: 60px;
	margin-bottom: 5px;
	padding-left: 20px;
	outline: none;
	font-size: 16px;
	color: hsl(249, 10%, 26%);
	border: 1px solid hsl(246, 25%, 77%);
    border-radius: 20px;
}

.rightcolumn .input::placeholder{
	font-size: 16px;
	font-weight: 500;
	color: hsla(249, 10%, 26%, 0.678);
}
.rightcolumn .inputbox input:focus{
	color:(249, 10%, 26%);
	font-size: 12px;
}
.rightcolumn .inputbox input:focus:invalid ~.error{
	position: relative;
  	margin: 25px;
}
.rightcolumn .inputbox input:focus:invalid{
	background: url(icon-errors.svg) no-repeat 95% 50%;
  	background-size: 25px;
	background-position: right;
  	border: 2px solid hsl(0, 100%, 74%);
  	transition: border 10ms;
}
.rightcolumn .inputbox input:focus:invalid ~.error::after {
	content: attr(data-error);
	position: absolute;
	bottom: 0;
	font-style: italic;
	font-size: 12px;
	font-weight: 500;
	right: 0;
	padding-bottom: 14px;
	color: hsl(0, 100%, 74%);
  }
  
.rightcolumn button[type="submit"]{
	cursor: pointer;
	width: 350px;
	background-color: hsl(154, 59%, 51%);
	box-shadow: 0 0 10px hsl(154, 56%, 44%);
	color:#fff;
	padding: 15px;
	font-size: 16px;
	font-weight: 500;
	border: none;
	align-items: center;
    letter-spacing: 2px;
}
.rightcolumn button[type="submit"]:hover{
	box-shadow: 2px 2px 5px;
    background-color: hsl(248, 32%, 49%);
    color:black;
}
.rightcolumn .formfooter{
	margin-top: 10px;
	color: hsl(246, 25%, 77%);
}
.rightcolumn .formfooter span{
	color:hsl(0, 100%, 74%);
}
